body {
    background: #0a9ebfa6;
}

.navbar {
    font-family: 'Oswald';
    background-color: #0fa3c9;
    color: white;
}
.links{
    text-decoration: underline 3px #0968B5 ;
    
}
#columns {
    column-count: 3;
    column-gap: 5px;
    margin-left: 4em;
    
}
.petImg{
    width: 270px;
    height: 210px;
    
    border: solid 10px white;
   

   
}
.pet{
    
    background-color: white;
    max-width: 270px;
    margin-bottom: 40px;
    
    
}
.navbar img
{
    height:50px;
    margin-left: -30px;
    
}
#title
{
    margin-left: 5px;
}

.page-container {
    margin-top: 130px;
    font-family: 'Oswald';
    color: white;
   
}


.modal-body, .modal-header, .modal-footer{
    background-color: #0a9ebfa6;
} 

.LogButton{
    display: flex;
    margin: 0 auto;
    background-color: #0987a3a6;
    margin-bottom: 10px;
}

#homepage {
   margin: auto;
   color: black;
  }

.petcards {
    margin: auto;
    margin-bottom: 20px;
    color: black;
}

#addpetbtn {
    background-color: white;
    color: black;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 15px;
}
